<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ProjetoAtestado</display-name>
	
	<servlet>
		<servlet-name>atestadoPdf</servlet-name>
		<servlet-class>br.uniube.controller.AtestadoPdfServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>atestadoPdf</servlet-name>
		<url-pattern>/atestadoPdf</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>consultaUsuarioConfirmado</servlet-name>
		<servlet-class>br.uniube.controller.ConsultarAtestadoConfirmadoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultaUsuarioConfirmado</servlet-name>
		<url-pattern>/consultaUsuarioConfirmado</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>consultaUsuarioConfirmadoNome</servlet-name>
		<servlet-class>br.uniube.controller.ConsultarAtestadoConfirmadoNomeServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultaUsuarioConfirmadoNome</servlet-name>
		<url-pattern>/consultaUsuarioConfirmadoNome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>segundoAtestado</servlet-name>
		<servlet-class>br.uniube.controller.SegundoAtestadoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>segundoAtestado</servlet-name>
		<url-pattern>/segundoAtestado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>primeiroAtestado</servlet-name>
		<servlet-class>br.uniube.controller.PrimeiroAtestadoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>primeiroAtestado</servlet-name>
		<url-pattern>/primeiroAtestado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cadastraUsuario</servlet-name>
		<servlet-class>br.uniube.controller.CadastrarUsuarioServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cadastraUsuario</servlet-name>
		<url-pattern>/novoUsuario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>alterarUsuario</servlet-name>
		<servlet-class>br.uniube.controller.AlterarUsuarioServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>alterarUsuario</servlet-name>
		<url-pattern>/alterarUsuario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginUsuario</servlet-name>
		<servlet-class>br.uniube.controller.LoginUsuarioServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginUsuario</servlet-name>
		<url-pattern>/loginUsuario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarCid</servlet-name>
		<servlet-class>br.uniube.controller.ConsultarCidServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarCid</servlet-name>
		<url-pattern>/atestado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarStatus</servlet-name>
		<servlet-class>br.uniube.controller.ConsultarStatusServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarStatus</servlet-name>
		<url-pattern>/consultarStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>confirmarAtestado</servlet-name>
		<servlet-class>br.uniube.controller.ConfirmarAtestadoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirmarAtestado</servlet-name>
		<url-pattern>/confirmarAtestado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rejeitarAtestado</servlet-name>
		<servlet-class>br.uniube.controller.RejeitarAtestadoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rejeitarAtestado</servlet-name>
		<url-pattern>/rejeitarAtestado</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>alterarSenha</servlet-name>
		<servlet-class>br.uniube.controller.AlterarSenhaServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>alterarSenha</servlet-name>
		<url-pattern>/alterarSenha</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deslogar</servlet-name>
		<servlet-class>br.uniube.controller.DeslogarUsuarioServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>deslogar</servlet-name>
		<url-pattern>/deslogar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarAtestados</servlet-name>
		<servlet-class>br.uniube.controller.ConsultarAtestadosServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarAtestados</servlet-name>
		<url-pattern>/consultarAtestados</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>br.uniube.controller.UploadImagemServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>

		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>